@model IEnumerable<WebStoreDALBLL.Models.Kategori>


<h2>Kategorier</h2>


<ul>
@foreach (var item in Model)
{

    <li>
        @Html.ActionLink(item.navn, "Browse", "Home", new { kategori = item.navn }, new { @class="h3"})
    </li>
}
</ul>

