@model List<WebStoreDALBLL.Models.Vare>

<h2>@Model[0].kategori</h2>
<ul>
@foreach (var item in Model) {

        <li>    @Html.ActionLink(((item.navn) + " , " + (item.pris) +"kr"),
               "VareDetail", "Home", new { vareID = item.id }, null)
         
        </li>       
       

}

</ul>
