
<div class="jumbotron">
    <h1>Velkommen til vår lille butikk</h1>
    <p class="lead">Her vil vi lage vår lille test instrument Butikk</p>
</div>

<h1>Gitar</h1>
<div class="row">
    <div class="col-md-4">
        <h2>Gitar1</h2>
        <img src=@Url.Content("~/Bilder/gitar.png") />
        <p></p>
        <p><a class="btn btn-default" href="">Detalje</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gitar 2</h2>
        <img src=@Url.Content("~/Bilder/gitar2.png") />
        <p> </p>
        <p><a class="btn btn-default" href="">Detalje</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gitar 3</h2>
        <img src=@Url.Content("~/Bilder/gitar.png") />
        <p></p>
        <p><a class="btn btn-default" href="">Detalje</a></p>
    </div>

</div>

<h1>Piano</h1>
<div class="row">
    <div class="col-md-4">
        <h2>Piano</h2>
        <img src=@Url.Content("~/Bilder/piano.png") height="140" width="90">
        <p>
        </p>
        <p><a class="btn btn-default" href="">Detalje</a></p>
    </div>
    <div class="col-md-4">
        <h2>Piano2</h2>
        <img src=@Url.Content("~/Bilder/piano.png") height="140" width="90">
        <p> </p>
        <p><a class="btn btn-default" href="">Detalje</a></p>
    </div>
    <div class="col-md-4">
        <h2>Piano</h2>
        <img src=@Url.Content("~/Bilder/gitar.png") height="140" width="90"> <p></p>
        <p><a class="btn btn-default" href="">Detalje</a></p>
    </div>
</div>

<h1>Fløyte</h1>
<div class="row">
    <div class="col-md-4">
        <h2>Gitar1</h2>
        <img src=@Url.Content("~/Bilder/fløyte.png") height="140" width="90">
        <p>
        </p>
        <p><a class="btn btn-default" href="">Detalje</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gitar 2</h2>
        <img src=@Url.Content("~/Bilder/piano.png") height="140" width="90">
        <p> </p>
        <p><a class="btn btn-default" href="">Detalje</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gitar 3</h2>
        <img src=@Url.Content("~/Bilder/gitar.png") height="140" width="90"> <p></p>
        <p><a class="btn btn-default" href="">Detalje</a></p>
    </div>
</div>
