
@{
    ViewBag.Title = "DetailsOrdreSum";
}

<h2>DetailsOrdreSum</h2>

@Html.Partial("~/Views/Bestilling/_DetailsOrder.cshtml");
@Html.Partial("~/Views/Bestilling/_DetailsOrderLines.cshtml");