
@{
    ViewBag.Title = "Index";
}

<h2>Admin Index</h2>
<table>
    <tr>
        <td>
            @Html.ActionLink("Kunder", "ListCustomers")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Poststeder", "ListPoststeder")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Varer", "ListGoods")
        </td>
    </tr>
</table>

